.same-line-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5%;
}
form{
    width: '100vw';
}

.form-container{
    right: 0;
    top: 0;
    width: 120%;
    height: 100vh;
    background-color: #D5E0E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.input-field{

    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.register-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: '50%';
}

.register-button-style{
    width:17%;
    /* background-color: # ; */
}


.upload-file-container{
    width:40%;
    margin-top: 45px;
}

.upload-file-label {
    font-size: 14px;
    color: #1a0d14;
    margin-top: 10px;
}

