
.gender-label{
    color:#190d14
}

.checkbox-input-container{
    display:flex;

}

.option{
    margin-right: 30px;
    margin-top: 5px;
}
.option label  {
    color:#1a0d14;
    margin-left: 10px;
}