.box {
    display: flex;
    border: 2px solid #0b0b0b;
    padding: 25px;
    margin: 5px;
  }
  
  .image-container {
    flex: 0 0 200px;
    margin-right: 20px; /* Add margin between image and content */
  }
  
  .image {
    width: 170px;
    height: 170px; /* Allow image to maintain aspect ratio */
  }
  
  .content {
    flex: 1;
    display: flex;
    flex-direction: column; /* Align content vertically */
  }
  
  .title {
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
  }
  
  .description {
    font-size: 1.3em;
    color: black;
  }
  
  .register-button {
    align-self: flex-start; /* Align button to start of content */
    padding: 10px 20px; /* Adjust padding for smaller button */
    margin-top: auto; /* Push button to the bottom of content */
    background-color: #2f353b;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register-button:hover {
    background-color: #1e2732;
  }
  