 h1 {
    color: red;
 }

 .button-container {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .button-container Button {
    height: 50px;
 }

 .input-field-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
 }

 form {
   width: 50%;
   margin-top: 25px;
   display: flex;
   flex-direction: column;
   gap: 30px;
 }

#special-p {
   margin-top: 7px;
   font-size: 12px;
 }